<app-navbar>
  <div class="container p-5">
    <div class="row">
      <div class="col">
         <div class="card mb-2 cursor-select card-usco-menu shadow" [routerLink]="['/estudiantes']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/user-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Estudiante
                </h6>
                <p style="font-size: 12px;">
                  Consulta, cambio de foto del Estudiante y aclaración de la
                  dependencia que administra la información del estamento.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-2 cursor-select card-usco-menu shadow" [routerLink]="['/docentes']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/chalkboard-user-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Docente
                </h6>
                <p style="font-size: 12px;">
                  Consulta, cambio de foto del Docente y aclaración de la
                  dependencia que administra la información del estamento.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card mb-2 cursor-select card-usco-menu shadow" [routerLink]="['/externos-invitados']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/users-rectangle-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Externos Invitados
                </h6>
                <p style="font-size: 12px;">
                  Consulta, cargue de imágen de los diferentes estamentos de la institución y aclaración de las
                  dependencias que administran la información de cada estamento.
                </p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col">
        <div class="card mb-2 cursor-select card-usco-menu shadow" [routerLink]="['/graduados']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/graduation-cap-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Graduado
                </h6>
                <p style="font-size: 12px;">
                  Consulta, cambio de foto del Gaduado y aclaración de la
                  dependencia que administra la información del estamento.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-2 cursor-select card-usco-menu shadow" [routerLink]="['/administrativos']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/user-tie-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Administrativo
                </h6>
                <p style="font-size: 12px;">
                  Consulta, cambio de foto del Administrativo y aclaración de la
                  dependencia que administra la información del estamento.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card mb-2 cursor-select card-usco-menu shadow" [routerLink]="['/externos-visitantes']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/users-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Externos Visitantes
                </h6>
                <p style="font-size: 12px;">
                  Consulta, cargue de imágen de los diferentes estamentos de la institución y aclaración de las
                  dependencias que administran la información de cada estamento.
                </p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-6 m-sm-auto">
        <div class="card mb-2 cursor-select card-usco-menu shadow" [routerLink]="['/inicio']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/house-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Inicio
                </h6>
                <p style="font-size: 12px;">
                  Volver al menú inicial
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>