<div mat-dialog-title>
  <div class="row">
    <div class="col">
      <h4 class="font-usco-vt font-weight-bold"><i class="fa-solid fa-circle-info"></i> Información Complementaria
      </h4>
    </div>
    <div class="col text-right font-usco-vt font-weight-bold">
      <i class="fa-solid fa-xmark" mat-dialog-close></i>
    </div>
  </div>
</div>
<hr>
<mat-dialog-content>
  <div class="row">
    <div class="col">
      <form class="pl-4 pr-4">
        <div class="row text-left mb-2">
          <div class="col">
            <h6 class="font-usco-vt font-weight-bold">Parámetros de puesto: </h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Sede</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.sede.nombre}}" />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Sub - Sede</mat-label>
                <input readonly matInput class="form_control" type="text"
                  value="{{data.puesto.subsede.subSedeNombre}}" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Tipo de puesto</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.tipoPuesto.nombre}}" />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre del puesto</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.nombre}}" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Bloque</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.bloque.bloqueNombre}}" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row text-left mb-2">
          <div class="col">
            <h6 class="font-usco-vt font-weight-bold">Cupo vehícular:</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Carros</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.cupoCarro}}" />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Motos</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.cupoMoto}}" />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Bicicletas</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.cupoBicicleta}}" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row text-left mb-2">
          <div class="col">
            <h6 class="font-usco-vt font-weight-bold">Estado:</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Fecha Creacion</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.fechaCreacion}}" />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Fecha Cierre</mat-label>
                <input readonly matInput class="form_control" type="text" value="{{data.puesto.fechaCierre}}" />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Estado</mat-label>
                <input readonly *ngIf="data.puesto.estado === 1" matInput class="form_control" type="text"
                  value="Activo" />
                <input readonly *ngIf="data.puesto.estado === 0" matInput class="form_control" type="text"
                  value="Cerrado" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<!-- <hr />
<div mat-dialog-actions align="end">
  <div class="row text-right p-2">
    <div class="col">
      <button class="btn btn-usco-vt" mat-dialog-close> Cerrar</button>
    </div>
  </div>
</div> -->