<app-navbar>
  <div class="container p-5">
    <div class="row mt-4">
      <div class="col-sm-6 m-sm-auto">
        <div class="card mb-4 cursor-select card-usco-menu shadow" [routerLink]="['/politica']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/stamp-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Leyenda
                </h6>
                <p style="font-size: 12px;">
                  Actualización de la leyenda que se refleja en la parte posterior del carnet por cada estamento de la
                  institución.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4 cursor-select card-usco-menu shadow" [routerLink]="['/firma']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/signature-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Firma
                </h6>
                <p style="font-size: 12px;">
                  Registro y actualización de la firma digital de cada rector o rectora a cargo en la institución, el
                  sistema notifica el registro a la rectoría y el rector o rectora actual.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-2 cursor-select card-usco-menu shadow" [routerLink]="['/inicio']">
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="rounded w-100 p-3 shadow filter-green" src="assets/house-solid.png" />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                  Inicio
                </h6>
                <p style="font-size: 12px;">
                  Volver al menú inicial
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>