<app-navbar>
  <div id="content-wrap" class="container mt-3 text-center">
    <div class="card rounded-2 p-0 shadow-sm mt-5 mb-5">
      <div class="card-header cursor-select" [routerLink]="['/inicio']" routerLinkActive="router-link-active">
        <h5 class="font-usco-default">
          <strong>Escáner QR</strong>
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <!--VISTA ESCRITORIO-->
            <div class="row" *ngIf="!mobile">
              <div class="col mt-2">
                <!--CARNET PC ESTUDIANTE-->
                <div class="card-usco-carnet-pc carnet-usco-body-pc shadow p-4 mt-4" id="carnet-usco-rotulo-front"
                  *ngIf="(estudiante | json) != '[]' && foto?.url != '' && carnetEstudiante">
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="row text-center">
                        <div class="col">
                          <img src="{{foto?.url}}" [alt]="estudiante[0]?.persona.apellido"
                            [title]="estudiante[0]?.persona.apellido" class="card-img-top foto-usco-pc cursor-select" />
                        </div>
                      </div>
                      <div class="row text-left">
                        <div class="col ml-2">
                          <small class="font-weight-bold" style="font-size: 12px;">
                            Cód: {{estudiante[0]?.codigo}}
                          </small>
                        </div>
                      </div>
                      <div class="row text-left">
                        <div class="col ml-2">
                          <small class="font-usco-vt font-weight-bold">
                            G.S: {{estudiante[0]?.persona.grupoSanguineo}}
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 text-left p-0">
                      <div class="card-block">
                        <div class="row ml-2">
                          <div class="col">
                            <img
                              src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                              class="img-fluid" style="width: 90%;">
                          </div>
                        </div>
                        <div class="row mt-4 ml-2">
                          <div class="col">
                            <small CLASS="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{estudiante[0]?.persona.nombre}} {{estudiante[0]?.persona.apellido}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold">
                              ID: {{estudiante[0]?.persona.identificacion}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{estudiante[0]?.programa.nombreCorto}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              ESTUDIANTE
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--CARNET PC GRADUADO-->
                <div class="card-usco-carnet-pc carnet-usco-body-pc shadow p-4 mt-4" id="carnet-usco-rotulo-front"
                  *ngIf="(graduado | json) != '[]' && foto?.url != '' && carnetGraduado">
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="row text-center">
                        <div class="col">
                          <img src="{{ foto?.url }}" [alt]="graduado[0]?.persona.apellido"
                            [title]="graduado[0]?.persona.apellido" class="card-img-top foto-usco-pc cursor-select" />
                        </div>
                      </div>
                      <div class="row text-left">
                        <div class="col ml-2">
                          <small class="font-weight-bold">
                            ID: {{graduado[0]?.persona.identificacion}}
                          </small>
                        </div>
                      </div>
                      <div class="row text-left">
                        <div class="col ml-2">
                          <small class="font-usco-vt font-weight-bold">
                            G.S: {{graduado[0]?.persona.grupoSanguineo}}
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 text-left p-0">
                      <div class="card-block">
                        <div class="row ml-2">
                          <div class="col">
                            <img
                              src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                              class="img-fluid" style="width: 90%;">
                          </div>
                        </div>
                        <div class="row mt-4 ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{graduado[0]?.persona.nombre}} {{graduado[0]?.persona.apellido}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold">
                              {{graduado[0]?.programa.nombrePrograma}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              Fecha: {{graduado[0]?.fechaGrado | date : "dd/MM/yyyy"}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small *ngIf="graduado[0]?.persona.genero === 'M'"
                              class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              graduado
                            </small>
                            <small *ngIf="graduado[0]?.persona.genero === 'F'"
                              class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              graduada
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--CARNET PC DOCENTE-->
                <div class="card-usco-carnet-pc carnet-usco-body-pc shadow p-4 mt-4" id="carnet-usco-rotulo-front"
                  *ngIf="(docente | json) != '[]' && foto?.url != '' && carnetDocente">
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="row text-center">
                        <div class="col">
                          <img src="{{ foto?.url }}" [alt]="docente[0]?.persona.apellido"
                            [title]="docente[0]?.persona.apellido" class="card-img-top foto-usco-pc cursor-select" />
                        </div>
                      </div>
                      <div class="row text-left">
                        <div class="col ml-2">
                          <small class="font-usco-vt font-weight-bold">
                            G.S: {{docente[0]?.persona.grupoSanguineo}}
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 text-left p-0">
                      <div class="card-block">
                        <div class="row ml-2">
                          <div class="col">
                            <img
                              src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                              class="img-fluid" style="width: 90%;">
                          </div>
                        </div>
                        <div class="row mt-4 ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{docente[0]?.persona.nombre}} {{docente[0]?.persona.apellido}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold">
                              ID: {{docente[0]?.persona.identificacion}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{docente[0]?.sede}} - {{docente[0]?.nombrePrograma}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{docente[0]?.vinculacionNombre}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              DOCENTE
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--CARNET PC ADMINISTRATIVO-->
                <div class="card-usco-carnet-pc carnet-usco-body-pc shadow p-4 mt-4" id="carnet-usco-rotulo-front"
                  *ngIf="(administrativo | json) != '[]' && foto?.url != '' && carnetAdministrativo">
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="row text-center">
                        <div class="col">
                          <img src="{{ foto?.url }}" [alt]="persona[0]?.apellido" [title]="persona[0]?.apellido"
                            class="card-img-top foto-usco-pc cursor-select" style="width: 110%;" />
                        </div>
                      </div>
                      <div class="row text-left">
                        <div class="col ml-2">
                          <small class="font-usco-vt font-weight-bold">
                            G.S: {{persona[0]?.grupoSanguineo}}
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 text-left p-0">
                      <div class="card-block">
                        <div class="row ml-2">
                          <div class="col">
                            <img
                              src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                              class="img-fluid" style="width: 90%;">
                          </div>
                        </div>
                        <div class="row mt-4 ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{persona[0]?.nombre}} {{persona[0]?.apellido}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold">
                              ID: {{administrativo[0]?.identificacion}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{administrativo[0]?.vinculacionNombre}}
                            </small>
                          </div>
                        </div>
                        <div class="row ml-2">
                          <div class="col">
                            <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                              {{administrativo[0]?.cargoNombre}}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--TIQUETE INVITADO-->
                <div class="row text-left pr-4 pl-4 pb-4"
                  *ngIf="tiquete && tipoTiquete === 1 && (ticket | json) != '[]'">
                  <div class="row">
                    <div class="col">
                      <table class="table table-sm text-uppercase">
                        <thead>
                          <tr>
                            <th colspan="2">
                              <div class="bg-usco-gr-d6 text-white p-2 text-center">
                                <img src="assets/universidad-surcolombiana-multicampos-white.png" alt="USCO"
                                  class="img-fluid">
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Nombre:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.nombre}} {{ticket[0].persona.apellido}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.nombreCompleto}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Id:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.identificacion}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.identificacion}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Correo:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.emailPersonal}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.email}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Lugar:</th>
                            <td *ngIf="ticket[0].tipoLugar == 1" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].bloque.bloqueNombre}}
                            </td>
                            <td *ngIf="ticket[0].tipoLugar == 2" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].oficina.uaaNombre}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Creación:</th>
                            <td *ngIf="(ticket | json) != '[]'" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].fechaCreacion | date : 'dd-MM-yyyy'}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Vigencia:</th>
                            <td *ngIf="(ticket | json) != '[]'" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].fechaVigencia | date : 'dd-MM-yyyy'}}
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th colspan="2">
                              <div class="bg-usco-gr-d6 text-white text-center">
                                <h6 class="p-2 font-weight-bold text-uppercase">TIQUETE DE ACCESO</h6>
                              </div>
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
                <!--TIQUETE VISITANTE-->
                <div class="row text-left pr-4 pl-4 pb-4"
                  *ngIf="tiquete && tipoTiquete === 2 && (ticket | json) != '[]'">
                  <div class="row">
                    <div class="col">
                      <table class="table table-sm text-uppercase">
                        <thead>
                          <tr>
                            <th colspan="2">
                              <div class="bg-usco-gr-d6 text-white p-2 text-center">
                                <img src="assets/universidad-surcolombiana-multicampos-white.png" alt="USCO"
                                  class="img-fluid">
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Nombre:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.nombre}} {{ticket[0].persona.apellido}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.nombreCompleto}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Id:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.identificacion}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.identificacion}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Correo:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.emailPersonal}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.email}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Lugar:</th>
                            <td *ngIf="ticket[0].tipoLugar == 1" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].bloque.bloqueNombre}}
                            </td>
                            <td *ngIf="ticket[0].tipoLugar == 2" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].oficina.uaaNombre}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Vigencia:</th>
                            <td *ngIf="(ticket | json) != '[]'" class="font-usco-gr font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].fechaVigencia | date : 'dd-MM-yyyy'}}
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th colspan="2">
                              <div class="bg-usco-gr-d6 text-white text-center">
                                <h6 class="p-2 font-weight-bold text-uppercase">TIQUETE DE ACCESO</h6>
                              </div>
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--VISTA MOBILE-->
            <div class="row mb-5 align-items-center" *ngIf="foto?.url == ''">
              <div class="col">
                <img src="../assets/precarga-usco.gif" class="img-fluid" alt="USCO">
              </div>
            </div>
            <div class="row" *ngIf="mobile">
              <div class="col mb-5">
                <!--VISTA MOBILE ESTUDIANTE-->
                <div class="card-usco-carnet carnet-usco-body shadow p-4 text-center" id="carnet-usco-rotulo-front"
                  *ngIf="(estudiante | json) != '[]' && foto?.url != '' && carnetEstudiante">
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="row mb-3">
                        <div class="col">
                          <img
                            src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                            class="img-fluid">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <img src="{{foto?.url}}" [alt]="estudiante[0]?.persona.apellido"
                            [title]="estudiante[0]?.persona.apellido" class="card-img-top foto-usco cursor-select" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 p-1">
                      <div class="card-block">
                        <div class="row mt-2">
                          <div class="col">
                            <h6 class="font-weight-bold">
                              Cód: {{estudiante[0]?.codigo}}
                            </h6>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default font-weight-bold text-uppercase">
                              {{estudiante[0]?.persona.nombre}} {{estudiante[0]?.persona.apellido}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default font-weight-bold">
                              ID: {{estudiante[0]?.persona.identificacion}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default font-weight-bold text-uppercase">
                              {{estudiante[0]?.programa.nombreCorto}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-vt font-weight-bold">
                              G.S: {{estudiante[0]?.persona.grupoSanguineo}}
                            </small>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <small class="font-usco-default font-weight-bold text-uppercase">
                              ESTUDIANTE
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--VISTA MOBILE GRADUADO-->
                <div class="card-usco-carnet carnet-usco-body shadow p-4 text-center" id="carnet-usco-rotulo-front"
                  *ngIf="(graduado | json) != '[]' && foto?.url != '' && carnetGraduado">
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="row mb-3">
                        <div class="col">
                          <img
                            src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                            class="img-fluid">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <img src="{{ foto?.url }}" [alt]="graduado[0]?.persona.apellido"
                            [title]="graduado[0]?.persona.apellido" class="card-img-top foto-usco cursor-select" />
                          <img *ngIf="(graduado | json) == '[]'" src="assets/carnet.png" alt="usco" title="usco"
                            class="card-img-top foto-usco cursor-select" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 p-1">
                      <div class="card-block">
                        <div class="row mt-2">
                          <div class="col">
                            <small class="font-weight-bold">
                              ID: {{graduado[0]?.persona.identificacion}}
                            </small>
                            <small *ngIf="(graduado | json) == '[]'" class="font-weight-bold">
                              ID: 1075******
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              {{graduado[0]?.persona.nombre}} {{graduado[0]?.persona.apellido}}
                            </small>
                            <small *ngIf="(graduado | json) == '[]'"
                              class="font-usco-default  font-weight-bold text-uppercase">
                              Nombre y apellidos
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold">
                              {{graduado[0]?.programa.nombrePrograma}}
                            </small>
                            <small *ngIf="(graduado | json) == '[]'" class="font-usco-default  font-weight-bold">
                              PROGRAMA
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              Fecha: {{graduado[0]?.fechaGrado | date : "dd/MM/yyyy"}}
                            </small>
                            <small *ngIf="(graduado | json) == '[]'"
                              class="font-usco-default  font-weight-bold text-uppercase">
                              FECHA DE GRADO
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-vt font-weight-bold">
                              G.S: {{graduado[0]?.persona.grupoSanguineo}}
                            </small>
                            <small *ngIf="(graduado | json) == '[]'" class="font-usco-vt font-weight-bold">
                              G.S: AB+
                            </small>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <small *ngIf="(graduado | json) == '[]'"
                              class="font-usco-default  font-weight-bold text-uppercase">
                              graduado
                            </small>
                            <small *ngIf="graduado[0]?.persona.genero === 'M'"
                              class="font-usco-default  font-weight-bold text-uppercase">
                              graduado
                            </small>
                            <small *ngIf="graduado[0]?.persona.genero === 'F'"
                              class="font-usco-default  font-weight-bold text-uppercase">
                              graduada
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--VISTA MOBILE DOCENTE-->
                <div class="card-usco-carnet carnet-usco-body shadow p-4 text-center" id="carnet-usco-rotulo-front"
                  *ngIf="(docente | json) != '[]' && foto?.url != '' && carnetDocente">
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="row mb-3">
                        <div class="col">
                          <img
                            src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                            class="img-fluid">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <img src="{{ foto?.url }}" [alt]="docente[0]?.persona.apellido"
                            [title]="docente[0]?.persona.apellido" class="card-img-top foto-usco cursor-select" />
                          <img *ngIf="(docente | json) == '[]'" src="assets/carnet.png" alt="usco" title="usco"
                            class="card-img-top foto-usco cursor-select" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 p-1">
                      <div class="card-block">
                        <div class="row mt-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold">
                              ID: {{docente[0]?.persona.identificacion}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              {{docente[0]?.persona.nombre}} {{docente[0]?.persona.apellido}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              {{docente[0]?.sede}} - {{docente[0]?.nombrePrograma}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              {{docente[0]?.vinculacionNombre}}
                            </small>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <small class="font-usco-vt font-weight-bold">
                              G.S: {{docente[0]?.persona.grupoSanguineo}}
                            </small>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              DOCENTE
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--VISTA MOBILE ADMINISTRATIVO-->
                <div class="card-usco-carnet carnet-usco-body shadow p-4 text-center" id="carnet-usco-rotulo-front"
                  *ngIf="(administrativo | json) != '[]' && foto?.url != '' && carnetAdministrativo">
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="row mb-3">
                        <div class="col">
                          <img
                            src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                            class="img-fluid">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <img src="{{ foto?.url }}" [alt]="persona[0]?.apellido" [title]="persona[0]?.apellido"
                            class="card-img-top foto-usco cursor-select" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 p-1">
                      <div class="card-block">
                        <div class="row mt-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold">
                              ID: {{administrativo[0]?.identificacion}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              {{persona[0]?.nombre}} {{persona[0]?.apellido}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              {{administrativo[0]?.vinculacionNombre}}
                            </small>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <small class="font-usco-vt font-weight-bold">
                              G.S: {{persona[0]?.grupoSanguineo}}
                            </small>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <small class="font-usco-default  font-weight-bold text-uppercase">
                              {{administrativo[0]?.cargoNombre}}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--TIQUETE MOBILE INVITADO-->
                <div class="row text-left text-uppercase"
                  *ngIf="tiquete && tipoTiquete === 1 && (ticket | json) != '[]'">
                  <div class="col">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th colspan="2">
                              <div class="bg-usco-gr-d6 text-white p-2 text-center">
                                <img src="assets/universidad-surcolombiana-multicampos-white.png" alt="USCO"
                                  class="img-fluid">
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Nombre:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.nombre}} {{ticket[0].persona.apellido}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.nombreCompleto}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Id:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.identificacion}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.identificacion}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Correo:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.emailPersonal}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.email}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Lugar:</th>
                            <td *ngIf="ticket[0].tipoLugar == 1" class=" font-weight-bold" style="font-size: 14px;">
                              {{ticket[0].bloque.bloqueNombre}}
                            </td>
                            <td *ngIf="ticket[0].tipoLugar == 2" class=" font-weight-bold" style="font-size: 14px;">
                              {{ticket[0].oficina.uaaNombre}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Creación:</th>
                            <td class=" font-weight-bold" style="font-size: 14px;">
                              {{ticket[0].fechaCreacion | date : 'dd-MM-yyyy'}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Vigencia:</th>
                            <td class=" font-weight-bold" style="font-size: 14px;">
                              {{ticket[0].fechaVigencia | date : 'dd-MM-yyyy'}}
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th colspan="2">
                              <div class="bg-usco-gr-d6 text-white text-center">
                                <h6 class="p-2 font-weight-bold text-uppercase">TIQUETE DE ACCESO</h6>
                              </div>
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
                <!--TIQUETE MOBILE VISITANTE-->
                <div class="row text-left text-uppercase"
                  *ngIf="tiquete && tipoTiquete === 2 && (ticket | json) != '[]'">
                  <div class="col">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th colspan="2">
                              <div class="bg-usco-gr-d6 text-white p-2 text-center">
                                <img src="assets/universidad-surcolombiana-multicampos-white.png" alt="USCO"
                                  class="img-fluid">
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Nombre:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.nombre}} {{ticket[0].persona.apellido}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.nombreCompleto}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Id:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.identificacion}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.identificacion}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Correo:</th>
                            <td *ngIf="ticket[0].persona.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].persona.emailPersonal}}
                            </td>
                            <td *ngIf="ticket[0].tercero.codigo != 0" class=" font-weight-bold"
                              style="font-size: 14px;">
                              {{ticket[0].tercero.email}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Lugar:</th>
                            <td *ngIf="ticket[0].tipoLugar == 1" class=" font-weight-bold" style="font-size: 14px;">
                              {{ticket[0].bloque.bloqueNombre}}
                            </td>
                            <td *ngIf="ticket[0].tipoLugar == 2" class=" font-weight-bold" style="font-size: 14px;">
                              {{ticket[0].oficina.uaaNombre}}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="font-size: 14px;">Vigencia:</th>
                            <td class="font-weight-bold" style="font-size: 14px;">
                              {{ticket[0].fechaVigencia | date : 'dd-MM-yyyy'}}
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th colspan="2">
                              <div class="bg-usco-gr-d6 text-white text-center">
                                <h6 class="p-2 font-weight-bold text-uppercase">TIQUETE DE ACCESO</h6>
                              </div>
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--CAMARA DE ESCANER-->
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Cámara</mat-label>
                  <select matNativeControl matInput>
                    <option value="" [selected]="!currentDevice">Ninguna seleccionada</option>
                    <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                      [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
                  </select>
                </mat-form-field>
              </div>
            </div>
            <div class="row text-center">
              <div class="col" style="width: 250px" *ngIf="!alert">
                <img src="../assets/precarga-usco.gif" class="img-fluid" alt="USCO">
              </div>
              <div class="col" *ngIf="alert">
                <div class="container" style="width: 250px">
                  <zxing-scanner [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
                    [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                    (camerasFound)="onCamerasFound($event)"
                    (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="botonRadio"
                  (change)="buscarManual(botonRadio)">
                  <mat-radio-button value="2" class="mr-2">Estudiante</mat-radio-button>
                  <mat-radio-button value="4" class="mr-2">Graduado</mat-radio-button>
                  <mat-radio-button value="3" class="mr-2">Docente</mat-radio-button>
                  <mat-radio-button value="1">Administrativo</mat-radio-button>
                  <mat-radio-button value="5">Tiquete</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row" *ngIf="carnetEstudiante">
              <div class="col">
                <div class="input-group mb-3">
                  <input type="text" maxlength="11" [(ngModel)]="busqueda" (keyup.enter)="buscarEstudiante(busqueda)"
                    class="form-control shadow" name="busqueda" placeholder="Estudiante" />
                  <div class="input-group-append">
                    <button class="btn btn-usco-vt shadow" (click)="buscarEstudiante(busqueda)" type="button"
                      id="button-addon2">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="carnetGraduado">
              <div class="col">
                <div class="input-group mb-3">
                  <input type="text" maxlength="11" [(ngModel)]="busquedaGraduado"
                    (keyup.enter)="buscarGraduado(busquedaGraduado)" class="form-control shadow" name="busquedaGraduado"
                    placeholder="Graduado" />
                  <div class="input-group-append">
                    <button class="btn btn-usco-vt shadow" (click)="buscarGraduado(busquedaGraduado)" type="button"
                      id="button-addon2">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="carnetDocente">
              <div class="col">
                <div class="input-group mb-3">
                  <input type="text" maxlength="11" [(ngModel)]="busquedaDocente"
                    (keyup.enter)="buscarDocente(busquedaDocente)" class="form-control shadow" name="busquedaDocente"
                    placeholder="Docente" />
                  <div class="input-group-append">
                    <button class="btn btn-usco-vt shadow" (click)="buscarDocente(busquedaDocente)" type="button"
                      id="button-addon2">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="carnetAdministrativo">
              <div class="col">
                <div class="input-group mb-3">
                  <input type="text" maxlength="11" [(ngModel)]="busquedaAdministrativo"
                    (keyup.enter)="buscarAdministrativo(busquedaAdministrativo)" class="form-control shadow"
                    name="busquedaAdministrativo" placeholder="Administrativo" />
                  <div class="input-group-append">
                    <button class="btn btn-usco-vt shadow" (click)="buscarAdministrativo(busquedaAdministrativo)"
                      type="button" id="button-addon2">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="tiquete">
              <div class="col">
                <div class="input-group mb-3">
                  <input type="text" maxlength="11" [(ngModel)]="busquedaTiquete"
                    (keyup.enter)="buscarTiquete(busquedaTiquete)" class="form-control shadow" name="busquedaTiquete"
                    placeholder="Identificación" />
                  <div class="input-group-append">
                    <button class="btn btn-usco-vt shadow" (click)="buscarTiquete(busquedaTiquete)" type="button"
                      id="button-addon2">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>