<app-navbar>
  <div id="content-wrap" class="container mt-3 mb-5 text-center" #target>
    <div class="card rounded-2 p-0 shadow-sm mt-5">
      <div class="card-header text-center ml-4 mr-4 cursor-select" [routerLink]="['/politicas']"
        routerLinkActive="router-link-active">
        <h4 class="font-usco-default">
          <strong>Firma Digital Rector o Rectora</strong>
        </h4>
      </div>
      <div class="card-body ls">
        <div class="row">
          <div class="col">
            <form class="pl-4 pr-4" [formGroup]="formRector">
              <div class="row text-left mb-2">
                <div class="col">
                  <h6 class="font-usco-gr font-weight-bold">Formulario para crear la firma digital:</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" id="nombre" class="form_control" required />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <mat-label>Dependencia</mat-label>
                        <input matInput formControlName="dependencia" id="dependencia" class="form_control" required />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <mat-label>Cargo</mat-label>
                        <input matInput formControlName="cargo" id="cargo" class="form_control" required />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <mat-label>Fecha Inicio</mat-label>
                        <input type="date" formControlName="fechaInicio" id="fechaInicio" matInput class="form_control"
                          required />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <mat-label>Fecha Fin</mat-label>
                        <input type="date" formControlName="fechaFin" id="fechaFin" matInput class="form_control"
                          required />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col mt-2" *ngIf="firmaExiste">
                  <form action="">
                    <label class="file example-full-width">
                      <input type="file" accept="image/png"
                        (change)="change($event.target.files); cambioArchivo($event)"
                        aria-label="File browser example" />
                      <span class="file-custom text-left">{{ nameFile }}</span>
                    </label>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="btn btn-usco-vt mr-2" [disabled]="!formRector.valid" data-toggle="tooltip"
                    data-placement="top" title="guardar" (click)="parametrosFirmaRegistrar()"><i
                      class="fa-solid fa-floppy-disk"></i> Guardar</button>
                  <!--  <button class="btn btn-usco-vt" [disabled]="!formRector.valid" data-toggle="tooltip"
                    data-placement="top" title="cancelar" (click)="cancelar()"><i class="fa-solid fa-xmark"></i>
                    Cancelar</button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-4 ml-5 mr-5 pl-5 pr-5">
          <div class="col">
            <div class="card-usco-carnet carnet-usco-body shadow p-4" id="carnet-usco-rotulo-back">
              <div class="row mt-2">
                <div class="col">
                  <img src="assets/universidad-surcolombiana-v.png" class="img-fluid" style="width: 20%;" />
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 mt-1">
                  <div class="row text-center">
                    <div class="col mt-2">
                      <qrcode [qrdata]="qrCodeTwo" [width]="150" colorLight="#ffffff" colorDark="#1E262B"
                        [errorCorrectionLevel]="'M'"></qrcode>
                    </div>
                  </div>
                </div>
                <div class="col text-left p-0 mt-4">
                  <div class="card-block px-3">
                    <div class="row ml-2">
                      <div class="col mt-1">
                        <p class="font-usco-default font-weight-bold text-justify"
                          style="font-size: 13px;line-height: 1">
                          {{politicaEstudiante[0]?.descripcion}}
                        </p>
                      </div>
                    </div>
                    <div class="row mt-1 text-center">
                      <div class="col">
                        <img src="{{fotoCarnet?.url}}" class="card-img-top foto-usco cursor-select"
                          style="width: 30%;" />
                      </div>
                    </div>
                    <div class="row text-center">
                      <div class="col">
                        <small class="font-usco-default font-usco-gr font-weight-bold text-uppercase">
                          RECTOR
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <table mat-table [dataSource]="dataSource" class="table table-hover">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element">
                  {{dataSource.filteredData.indexOf(element)+1}}
                </td>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Firma</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nombreFirma }}
                </td>
              </ng-container>
              <ng-container matColumnDef="inicio">
                <th mat-header-cell *matHeaderCellDef>Creación</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fechaInicio | date: 'dd/MM/yyyy' }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fin">
                <th mat-header-cell *matHeaderCellDef>Vigencia</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fechaFin | date: 'dd/MM/yyyy' }}
                </td>
              </ng-container>
              <ng-container matColumnDef="firma">
                <th mat-header-cell *matHeaderCellDef>Vista</th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-primary btn-sm" title="Ver firma" (click)="mostrarFirma(element.ruta)"><i
                      class="fa-solid fa-image"></i></button>
                </td>
              </ng-container>
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn btn-success btn-sm" *ngIf="element.estado === 1" data-toggle="tooltip"
                    data-placement="top" title="Vigente">
                    <i class="fas fa-check-square"></i>
                  </button>
                  <button class="btn btn btn-secondary btn-sm" *ngIf="element.estado === 0" data-toggle="tooltip"
                    data-placement="top" title="Antiguo">
                    <i class="fas fa-minus-square"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-usco-vt btn-sm" *ngIf="element.estado === 0" title="Desactivar" disabled
                    (click)="actualizar(element)"><i class="fa-solid fa-text-slash"></i></button>
                  <button class="btn btn-usco-vt btn-sm" *ngIf="element.estado === 1" title="Desactivar"
                    (click)="actualizar(element)"><i class="fa-solid fa-text-slash"></i></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>